body{
    background-color: black;  
    height: 100%;
}
.div1{
    background-color: black;
    color: white;
    padding-bottom: 5rem;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
    height: 5rem;
    position: fixed;
    top: 0;
    padding: 1rem 2rem 5rem;
    background-color: black;
    margin-bottom: 10rem;
}
header a:first-of-type{
    text-decoration: none;
    padding-top: 0.5rem;
}
header ul{
    display: flex;
    width: 20rem;
    height: 2rem;
}
header ul>li{
    display: flex;
    align-self: end;
    text-decoration: none;
    margin-right: auto;  
}
header ul>li>a{
    text-decoration: none;
    margin-right: auto;  
    color: white;
}
header ul>li:hover a{
    color: gold;
    font-size: 110%;
}
header h1{
    color: white;
}
.intro-section{
    max-width: 90vw;
    margin: auto;
    margin-bottom: 2rem;
}
.intro-section h1{
    font-size: 55px;
    margin-bottom: 2rem;
}
.intro-section p{
    font-size: x-large;
    max-width: 20rem;
}
.team-image{
    max-width: 90vw;
    margin: auto;
}
.team-image img{
    max-width: 90vw;
}
.summary1{
    max-width: 60rem;
    font-size: large;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.clients{
    height: 40rem;
    padding-top: 10rem;
}
.clients section{
    margin: auto;
    max-width: 58rem;
    justify-content: space-between;
    height: 15rem;
    text-align: center;
}
.clients section h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 50px;
}
.clients section>a {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 1rem;
    border-radius: 10rem;
}
.clients section>a:hover{
    transition: all 0.5s ease-in-out;
    padding: 1.5rem;
}
.work{
    background: url(../img/black.avif) center;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    color: white;
}
.carcontainer{
    max-width: 50rem;
    margin: auto;
    margin-top: 8rem;
    text-align: center;
}
.carcontainer h2{
    margin: auto;
    max-width: fit-content;
    padding: 1rem;
}
.carcontainer p{
    margin: auto;
    max-width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
}
.carcontainer a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10rem;   
}
.worked-with{
    text-align: center;
    height: 40rem;
    padding-top: 10rem;
}
.worked-with h2{
    font-size: 50px;
}
.you{
    background-color: black;
    color: white;
    text-align: center;
    height: 40rem;
    padding-top: 10rem;
}
.you h2{
    font-size: 70px;
    margin-bottom: 3rem;
}
.you a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2rem;
    border-radius: 10rem;   
}
/* Works Page  */
.mywork{
    text-align: center;
    font-size: 50px;
    margin-bottom: 6rem;
}
.reason-sec{
    max-width: 90vw;
    margin: auto;
}
.resaon{
    max-width: 25rem;
    font-size: 20px;
    margin-bottom: 6rem;
}
.imgs{
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10rem;
}
.img-sec img{
    max-width: 90%;
    transition: transform .5s;
}
.contact-me:hover{
    transition: all 0.5s ease-in-out;
    padding: 2.5rem;
}
.img-sec img:hover{
    transform: scale(1.05);
}
.img-sec{ 
    flex: 50%;
    width: 25%;
    margin: auto;
    max-width: 50%;
    margin-bottom: 1rem;
}
.short img{
    max-width: 98%;
}
.build{
    align-items: center;
    text-align: center;
    height: 30rem;
    padding-top: 10rem;
}
.build h2{
   font-size: 60px;
   margin-bottom: 3rem;
}
.build a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10rem; 
    width: 8rem;
    transition: transform .2s;
}
.build a:hover{
    background-color: darkgray;
    transform: scale(1.05);
    transition: transform .2s;
}
.contact-section
{
    text-align: center;
    height: 30rem;
    justify-content: space-around;
    justify-content: space-evenly;
}
/* Contact Page */
.contact-section h1{
    font-size: 100px;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #fff;
    max-width: fit-content;
    margin: auto;
}
.contact-section p{
    font-size: 30px;
    margin-top: 4;
    margin: auto;
    max-width: fit-content;
    text-align: center;
}
.c-info {
    margin-top: 2rem;
}
.f-flex{
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: auto;
}
.bing{
    margin-top: 20rem;
    max-width: 40rem;
}
.contact-section a{
    font-size: larger;
    text-decoration: none;
    color: #fff;
}
.transition-fade{
    animation: transitionIn 1.5s;
    transform-origin: left;
   }
   @keyframes transitionIn {
     from{
       opacity: 1;
       transform: translateX(100%);
     }
     to{
       opacity: 1;
     }
   }
   .resume{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10rem;   
    margin-bottom: 1rem;
   }
   .resume:hover{
    transition: all 0.5s ease-in-out;
    padding: 1.2rem;
   }
   .email{
    padding: 0.5rem;
    border-radius: 2rem;
   }
    .number{
        margin-top: 1.2rem;
    }
   .email:hover{
    transition: all 0.5s ease-in-out;
    font-size: x-large;
   }
   @media (max-width: 1500px){
    .f-flex{
        display: block;
    }
    .bing{
        margin-top: 20rem;
        max-width: 40rem;
    }
   }
   @media (max-width: 760px) {
   .hamburger{
    display: block;
    margin-bottom: 3rem;
   }
   .f-flex{
    display: block;
}
.bing{
    margin-top: 20rem;
    max-width: 40rem;
}
   .hamburger.active .bar:nth-child(1){
    opacity: 0;
   }
   .hamburger.active .bar:nth-child(2){
    transform: translateY(8px) rotate(45deg);
    margin-bottom: .8rem;
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    height: fit-content;
    background-color: #262626;
    width: 100%;
    transition: 0.3s;
   }
   .nav-menu li{
    align-self: center;
   }
   .nav-item{
    margin: 16px 0;
   }
 .nav-link{
    margin-left: auto;
    margin-right: auto;
 }
   .nav-menu.active{
    left: 0;
   }
   .nav-item:nth-child(1), .nav-item:nth-child(3){
    margin-right: .3rem;
   }
}