body{
    background: url(../img/black.avif) center;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
header{
    margin-top: 0;
    position: sticky;
    top: 0;
}

h2, h1, p:first-of-type{
    font-family: 'Technology', sans-serif;
    color: #fff;
}
.header-ul{
    display: flex;
    
}
.header-ul>li{
    margin: 1rem;
   list-style: none;
   font-family: Arial, Helvetica, sans-serif;
 
}
.header-ul>li>a{
    text-decoration: none;
    color: #fff;
}
.header-ul>li>a:hover{
 color: gold;
 font-size: 110%;
}
.firstdiv{
    padding-left: 3rem;
}
.firstdiv>section>h1{
    font-size: 300%;
    margin-bottom: 0;
}
span{
    color: gold;
}

.firstdiv>section>a{
    font-family: 'Technology', sans-serif;
    text-decoration: none;
    color: #fff;
}
.firstdiv>section>a:hover{
    color: gold;
    
}
.firstdiv>section{
    padding-top: 5rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: 170%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .about-summary{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 50rem;
    /* background-color:#0e0f0f ; */
    border-radius: 5%;
  }
  .about-summary>p{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
                                                
  }
  .about-summary>h2{
    color: gold;
    font-family: 'High Pixel-7', sans-serif;                                          
  }
  .skills{
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: flex;
    /* padding-left: 15rem; */
  }
  .skills li{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
                                                
  }
  .skills div{
    margin: auto;
  }
 .skillsfirstdiv{
  border: #fff;
  }
  .skillhead{
    color: gold;
    font-family: 'High Pixel-7', sans-serif;     
    text-align: center;          
  }
  .experience li{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
  }
   .experience-header{
    color: gold;
    font-family: 'High Pixel-7', sans-serif;     
    text-align: center; 
  }
  .experience h3{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
  }
  .experience{
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }
  .experience div{
    display: flex;
  }
  .education h2{
    color: gold;
    font-family: 'High Pixel-7', sans-serif;     
    text-align: center; 
  }
  .education h3{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
    max-width: 50rem;
    text-align: center;
  }
  .education{
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }
  .education h4{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
    max-width: 50rem;
    text-align: center;
  }
  .education li{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;
  }
  .transition-fade{
   animation: transitionIn 1.5s;
   transform-origin: left;
  }
  @keyframes transitionIn {
    from{
      opacity: 1;
      transform: translateX(100%);
    }
    to{
      opacity: 1;
    }
  }

  .works p{
    color:#fff;
    font-family: 'High Pixel-7', sans-serif;

  }
  .works{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 50rem;
    border-radius: 5%;
  }

  .header-bar{
    background-color: black;
    height: 5rem;
    padding-top: 0.5rem;
    transition: 0.5s;
  }
   